@model Entities.ApplicationUser


<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<div class="container">
  <div class="page-header">
    <h1>Injaz4U</h1>
    <a class="btn btn-info" href="/admin">Accounts</a>
    <a class="btn btn-info" href="/admin/add">Add Account</a>
  </div>
  <div class="col-md-12 body-content">


    <h1>Edit the user  @Model.fullName</h1>

    <div class="col-md-12 col-sm-12 col-xs-12">
      @using (Html.BeginForm("EditUserSave", "Admin", FormMethod.Get))
      {

        <table class="table table-hover">
          <tr>
            <td>
              <div class="col-md-4">
                <label>User ID  : </label>
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = true })

              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-md-4">
                <label>User Account ID  : </label>
                @Html.TextBoxFor(m => m.AccountId, new { @class = "form-control", @readonly = true })

              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="col-md-4">
                <label>User Full Name : </label>
                @Html.TextBoxFor(m => m.fullName, new { @class = "form-control" })

              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-md-4">
                <label>Mobile NO. : </label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-md-4">
                <label>Password : </label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-md-4">
                <label>Account Status : </label>
                @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                   { new SelectListItem{Text="Enabled", Value=@Entities.AccountStatus.Enabled.ToString()},
                     new SelectListItem{Text="Disabled", Value=@Entities.AccountStatus.Disabled.ToString()}},
                     new { @class = "form-control", style = "height:auto;" })
              </div>
            </td>
          </tr>


        </table>
        <div class="col-md-1">

          <input type="submit" class="btn btn-success" value="Save" />

        </div>
      }
      <div class="col-md-1">
        <a href="admin/details/@Model.AccountId" class="btn btn-success">Cancel</a>


      </div>

    </div>
  </div>
</div>
